<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--   <add key="connect" value="Data Source=UWM-HEBI1;Database = UWM_BIAdmin; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>  -->
    <add key="hmc_connect" value="Data Source=h-hemmdb;Database = HEMM; Provider=SQLNCLI;"/>
    <add key="uwmc_connect" value="Data Source=u-hemmdb;Database = HEMM; Provider=SQLNCLI;"/>
    <!-- not used ->><add key="nwh_connect" value="Data Source=UWM-HEBI1;Database = UWM_BIAdmin; Provider=SQLNCLI;"/> -->
	<add key="medstores_connect" value="Data Source=UWM-HEBI1;Database = UWM_BIAdmin; Provider=SQLNCLI;"/>
	<add key="mpous_connect" value="Data Source=iv-mpous-db;Database = PointOfUseSupply; Provider=SQLNCLI; Trusted_Connection=Yes;"/>
    <!-- This is the "debug" xport_path-->
 <!--   <add key="xport_path" value="\\lapis\h_purchasing$\Purchasing\InventoryManagement\AppTest"/> -->

    <!-- This is the "production" xport_path-->    
     <add key="xport_path" value="\\lapis\h_purchasing$\Purchasing\InventoryManagement\"/>   
    
    <add key="configFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\WaspRefresh\Config\"/>
    <add key="logFile" value="RefreshLog.txt"/>
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\WaspRefresh\log\"/>
    <add key="out_file_name" value="_DataSource"/>   
  </appSettings>
</configuration>
